<table class="table">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Date</th>
    <th scope="col">Subject</th>
    <th scope="col">Attachments</th>
    <th scope="col">Status</th>
    <th scope="col">ID</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Renovate Breakroom</td>
    <td>10 mins</td>
    <td>Suggestion</td>
    <td>3</td>
    <td>005</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Air Conditioner Temperature</td>
    <td>2 hrs</td>
    <td>Suggestion</td>
    <td>0</td>
    <td>004</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Delivery Routes Confusing</td>
    <td>1 day</td>
    <td>Complaint</td>
    <td>0</td>
    <td>003</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Stir Friday</td>
    <td>3 days</td>
    <td>Compliment</td>
    <td>1</td>
    <td>002</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Data Grid Docs</td>
    <td>1 week</td>
    <td>Suggestion</td>
    <td>0</td>
    <td>001</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">10</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
