<!-- header -->
<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container-fluid">


    <!-- navbar header -->
    <div class="navbar-header">

      <!-- logo -->
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="assets/img/truck-lg-color.png" class="d-inline-block align-top">
          {{company}}
        </a>
      </div>

    </div>


    <!--&lt;!&ndash; collapse button &ndash;&gt;-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse"-->
            <!--data-target="#clumsyTabs" aria-controls="clumsyTabs" aria-expanded="false"-->
            <!--aria-label="Toggle navigation">-->
      <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <!-- navbar tabs -->
    <div class="collapse navbar-collapse" id="clumsyTabs">
      <ul class="navbar-nav navbar-right">

        <li class="nav-item" active>
          <a class="nav-link" href="#">Feedback<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" href="#">
          <a class="nav-link">Submissions</a>
        </li>

      </ul>
    </div>

  </div><!-- container fluid -->
</nav>

