<!-- header -->
<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container-fluid">


    <!-- navbar header -->
    <div class="navbar-header">

      <!-- logo -->
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="assets/img/truck-lg-color.png">
          {{company}}
        </a>
      </div>

    </div>


    <!--&lt;!&ndash; collapse button &ndash;&gt;-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse"-->
            <!--data-target="#clumsyTabs" aria-controls="clumsyTabs" aria-expanded="false"-->
            <!--aria-label="Toggle navigation">-->
      <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <!-- navbar tabs -->
    <div class="collapse navbar-collapse" id="clumsyTabs">
      <ul class="nav nav-pills navbar-right">

        <li class="nav-item active" >
          <a  routerLink="/feedback" routerLinkActive="active" data-toggle="tab" href="#feedback-tab">
            Feedback<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a  routerLink="/submissions" routerLinkActive="active" data-toggle="tab" href="#submissions-tab">
            Submissions</a>
        </li>

      </ul>
    </div>

  </div><!-- container fluid -->
</nav>

